.ex-1-square:hover {
    background-color: red;
    transition: 5s;
}

.ex-2-square {
    animation: growing 10s infinite;
}

@keyframes growing  {

    0% {
        width: 100px;
    }

    25% {
        width: 325px;
    }

    50% {
        width: 550px;
    }

    75% {
        width: 775px;
    }

    100% {
        width: 900px;
    }
}

.ex-3-square:hover {
    animation: ex3-square_to_circle 5s;
}

@keyframes ex3-square_to_circle {
    
    0% {
        border-radius: 0%;
    }

    25% {
        border-radius: 12.5%;
    }

    50% {
        border-radius: 25%;
    }

    75% {
        border-radius: 32.5%;
    }

    100% {
        border-radius: 50%;
    }
}